<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/{id}/edit(id=${user.getId()})}" th:object="${user}">
    <label for="owner">Name: </label>
    <input type="text" th:field="*{owner}" id="owner"/>
    <br/>
    <label for="car">Car: </label>
    <input type="text" th:field="*{car}" id="car"/>
    <br/>
    <label for="year">Year: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:name="password" id="password"/>
    <br/>
    <input type="submit" value="Edit"/>
</form>
<a th:href="@{/logout}">Logout</a>
</body>
</html>