<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Car model</th>
        <th scope="col">year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.owner}"/>
        <td th:text="${user.car}"/>
        <td th:text="${user.year}"/>
        <td> <a th:href="@{/admin/{id}/edit(id=${user.getId()})}"/>Edit</td>
        <td> <a th:href="@{/admin/{id}/delete(id=${user.getId()})}"/>Delete</td>
    </tr>
    </tbody>
</table>
<a th:href="@{/admin/new}">New user</a>
<a th:href="@{/logout}">Logout</a>
</body>
</html>